<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--główne menu, do wyboru: nowa gra, kontynuuj grę, zmień rozmiar planszy-->

<form method="post" action="mainMenuOptions">
    <div>
        <button type="submit" name="newGame" value="nowa gra">Rozpocznij nową grę</button>
    </div>

    <div>
        <button type="submit" name="resumeGame" value="wznowienie gry">Wznów grę</button>
    </div>

    <div>
        <button type="submit" name="boardSize" value="wielkosc planszy" >Zmień wielkość planszy</button>
    </div>

</form>

</body>
</html>